.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #444;
    text-align: center;
    border-radius: 4px;
}

.sidebar a:hover {
    background-color: #555;
}

.greeting-container {
    padding: 1rem;
    background-color: #7E8780;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 4px;
}