.mis-registros-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: #282c34;
}

.records-container {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.record {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.record-summary {
    font-weight: bold;
}

.record-details {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
}

.record.pendiente {
    background-color: #7CF116;
}

.record.pagado {
    background-color: #45B0E4;
}

.record.vencido {
    background-color: #FC0A0A;
}

.filter-box {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 4px;
    text-align: center;
}

.filter-box h3 {
    margin-bottom: 10px;
}

.filter-box p {
    margin: 5px 0;
}

.filter-box .pendiente {
    background-color: #7CF116;
    padding: 2px 5px;
    border-radius: 3px;
}

.filter-box .pagado {
    background-color: #45B0E4;
    padding: 2px 5px;
    border-radius: 3px;
    color: white;
}

.filter-box .vencido {
    background-color: #FC0A0A;
    padding: 2px 5px;
    border-radius: 3px;
    color: white;
}